<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
            
        </style>
    </head>
<body>    
<div class="jumbotron">
  <h1 class="display-4">'멍냥&'에 오신걸 환영합니다</h1>
  <p class="lead">다양한 반려동물의 정보와 지식을 얻어갈 수 있는 소통의 장에 오신걸 환영합니다!</p>
  <hr class="my-4">
  <p>'멍냥&'에 좀 더 알아보고 싶다면 아래의 버튼을 클릭해서 시작하세요!</p>
  <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">멍냥& GOGO</a>
</div>
</body>
</html>